In [9]:
import pandas as pd
#Definindo as variaveis que sÃ£o utilizadas para abrigar os data frame
vendas_df = pd.read_csv("Contoso - Vendas - 2017.csv", sep = ";")
produtos_df = pd.read_csv("Contoso - Cadastro Produtos.csv", sep = ";")
lojas_df = pd.read_csv("Contoso - Lojas.csv", sep = ";", encoding = "ISO-8859-1")
clientes_df = pd.read_csv("Contoso - Clientes.csv", sep= ";", encoding = "ISO-8859-1")

#Seprando colunas especificas de maneira com que, o dataframe irÃ¡ abrigar somente as colunas especificos 
clientes_df = clientes_df[["Ã¿ID Cliente","E-mail"]]
produtos_df = produtos_df[["Nome da Marca","ID Produto"]]
lojas_df = lojas_df[["Ã¿ID Loja", "Nome da Loja"]]

#Renomeando colunas com a funÃ§Ã£o .rename()
clientes_df = clientes_df.rename(columns = {"Ã¿ID Cliente": "ID Cliente"})
lojas_df = lojas_df.rename(columns = {"Ã¿ID Loja": "ID Loja"})

#juntando as colunas separadas com o dataframe, vendas_df, utilizando a funÃ§Ã£o .merge()
vendas_df = vendas_df.merge(produtos_df, on="ID Produto")
vendas_df = vendas_df.merge(lojas_df, on="ID Loja")
vendas_df = vendas_df.merge(clientes_df, on= "ID Cliente")

#Renomando outra coluna dentro do dataframe finalizado.
vendas_df = vendas_df.rename(columns = {"E-mail": "E-mail Clientes"})
display(vendas_df)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,Nome da Loja,E-mail Clientes
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,A. Datum,Loja Contoso Austin,rbrumfieldmy@ameblo.jp
1,880458,23/11/2017,23/11/2017,0,306,235,10,6825,8,0,Litware,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp
2,191019,20/03/2017,21/03/2017,1,172,376,2,6825,9,0,Adventure Works,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp
3,18610,08/01/2017,10/01/2017,2,200,448,2,6825,48,0,Wide World Importers,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp
4,287704,23/04/2017,26/04/2017,3,76,280,1,6825,10,0,Contoso,Loja Contoso Beaumont No.1,rbrumfieldmy@ameblo.jp
...,...,...,...,...,...,...,...,...,...,...,...,...,...
980637,878244,23/11/2017,23/11/2017,0,110,889,4,347,12,1,Contoso,Loja Contoso Orlando,edowner9m@imdb.com
980638,920243,09/12/2017,10/12/2017,1,261,1367,5,38781,13,0,Contoso,Loja Contoso Damascus No.1,ruben31@adventure-works.com
980639,467482,21/06/2017,25/06/2017,4,115,269,1,553,10,0,Contoso,Loja Contoso New York No.1,akuhnertfc@themeforest.net
980640,853643,13/11/2017,20/11/2017,7,115,809,4,38860,6,0,Contoso,Loja Contoso New York No.1,anne5@adventure-works.com
980641,903958,02/12/2017,02/12/2017,0,222,1435,10,815,8,0,The Phone Company,Loja Contoso Roma,ekorneevmm@instagram.com

In [11]:
#modificando o tipo de dados presente na coluna "Data do Envio" e "Data da Venda", com a funÃ§Ã£o pd.to_datetime().
vendas_df["Data do Envio"] = pd.to_datetime(vendas_df["Data do Envio"], format = "%d/%m/%Y")
vendas_df["Data da Venda"] = pd.to_datetime(vendas_df["Data da Venda"], format ="%d/%m/%Y" )
display(vendas_df)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,Nome da Loja,E-mail Clientes
0,1,2017-01-01,2017-01-02,1,86,981,2,6825,9,1,A. Datum,Loja Contoso Austin,rbrumfieldmy@ameblo.jp
1,880458,2017-11-23,2017-11-23,0,306,235,10,6825,8,0,Litware,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp
2,191019,2017-03-20,2017-03-21,1,172,376,2,6825,9,0,Adventure Works,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp
3,18610,2017-01-08,2017-01-10,2,200,448,2,6825,48,0,Wide World Importers,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp
4,287704,2017-04-23,2017-04-26,3,76,280,1,6825,10,0,Contoso,Loja Contoso Beaumont No.1,rbrumfieldmy@ameblo.jp
...,...,...,...,...,...,...,...,...,...,...,...,...,...
980637,878244,2017-11-23,2017-11-23,0,110,889,4,347,12,1,Contoso,Loja Contoso Orlando,edowner9m@imdb.com
980638,920243,2017-12-09,2017-12-10,1,261,1367,5,38781,13,0,Contoso,Loja Contoso Damascus No.1,ruben31@adventure-works.com
980639,467482,2017-06-21,2017-06-25,4,115,269,1,553,10,0,Contoso,Loja Contoso New York No.1,akuhnertfc@themeforest.net
980640,853643,2017-11-13,2017-11-20,7,115,809,4,38860,6,0,Contoso,Loja Contoso New York No.1,anne5@adventure-works.com
980641,903958,2017-12-02,2017-12-02,0,222,1435,10,815,8,0,The Phone Company,Loja Contoso Roma,ekorneevmm@instagram.com

In [13]:
#criando novas colunas de ano, mes e dia, baseado na coluna "Data da Venda" depois de ter sido modificada
vendas_df["Dia da Venda"] = vendas_df["Data da Venda"].dt.day
vendas_df["Mes da Venda"] = vendas_df["Data da Venda"].dt.month
vendas_df["Ano da venda"] = vendas_df["Data da Venda"].dt.year
display(vendas_df)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,Nome da Loja,E-mail Clientes,Dia da Venda,Mes da Venda,Ano da venda
0,1,2017-01-01,2017-01-02,1,86,981,2,6825,9,1,A. Datum,Loja Contoso Austin,rbrumfieldmy@ameblo.jp,1,1,2017
1,880458,2017-11-23,2017-11-23,0,306,235,10,6825,8,0,Litware,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp,23,11,2017
2,191019,2017-03-20,2017-03-21,1,172,376,2,6825,9,0,Adventure Works,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp,20,3,2017
3,18610,2017-01-08,2017-01-10,2,200,448,2,6825,48,0,Wide World Importers,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp,8,1,2017
4,287704,2017-04-23,2017-04-26,3,76,280,1,6825,10,0,Contoso,Loja Contoso Beaumont No.1,rbrumfieldmy@ameblo.jp,23,4,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980637,878244,2017-11-23,2017-11-23,0,110,889,4,347,12,1,Contoso,Loja Contoso Orlando,edowner9m@imdb.com,23,11,2017
980638,920243,2017-12-09,2017-12-10,1,261,1367,5,38781,13,0,Contoso,Loja Contoso Damascus No.1,ruben31@adventure-works.com,9,12,2017
980639,467482,2017-06-21,2017-06-25,4,115,269,1,553,10,0,Contoso,Loja Contoso New York No.1,akuhnertfc@themeforest.net,21,6,2017
980640,853643,2017-11-13,2017-11-20,7,115,809,4,38860,6,0,Contoso,Loja Contoso New York No.1,anne5@adventure-works.com,13,11,2017
980641,903958,2017-12-02,2017-12-02,0,222,1435,10,815,8,0,The Phone Company,Loja Contoso Roma,ekorneevmm@instagram.com,2,12,2017

In [30]:
#Aqui foi estabelecido um filtro onde Ã© extraÃ­do as informaÃ§Ãµes baseada em certas condiÃ§Ãµes de "ID da lajo", "Mes da Venda" e "Dia da Venda"
LCEO = vendas_df[(vendas_df["ID Loja"] == 306) & (vendas_df["Mes da Venda"]>= 1) & (vendas_df["Mes da Venda"] <= 7) & (vendas_df["Dia da Venda"] <= 15)]
LCEO = LCEO.sort_values("Mes da Venda", ascending = True)
display(LCEO)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,Nome da Loja,E-mail Clientes,Dia da Venda,Mes da Venda,Ano da venda
229,24931,2017-01-11,2017-01-17,6,306,1467,10,26471,24,0,Contoso,Loja Contoso Europe Online,jessica44@adventure-works.com,11,1,2017
227336,14086,2017-01-06,2017-01-06,0,306,536,10,30413,4,0,Wide World Importers,Loja Contoso Europe Online,karla20@adventure-works.com,6,1,2017
725841,20105,2017-01-09,2017-01-09,0,306,1055,10,9521,24,0,A. Datum,Loja Contoso Europe Online,babreyei@sciencedaily.com,9,1,2017
227864,17706,2017-01-08,2017-01-10,2,306,299,10,29785,4,0,Southridge Video,Loja Contoso Europe Online,michele42@adventure-works.com,8,1,2017
227865,5969,2017-01-03,2017-01-03,0,306,269,10,29785,16,0,Contoso,Loja Contoso Europe Online,michele42@adventure-works.com,3,1,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716675,520060,2017-07-10,2017-07-12,2,306,934,1,8023,20,0,Southridge Video,Loja Contoso Europe Online,cmccarrono@buzzfeed.com,10,7,2017
717383,521404,2017-07-11,2017-07-17,6,306,1514,1,9446,10,0,The Phone Company,Loja Contoso Europe Online,mbruffcf@amazon.co.uk,11,7,2017
717409,528911,2017-07-14,2017-07-19,5,306,1514,1,13359,10,0,The Phone Company,Loja Contoso Europe Online,preefa0@pen.io,14,7,2017
715824,502130,2017-07-03,2017-07-03,0,306,1576,1,30277,5,1,Southridge Video,Loja Contoso Europe Online,bryant3@adventure-works.com,3,7,2017
882103,517736,2017-07-09,2017-07-09,0,306,15,1,8500,10,0,Contoso,Loja Contoso Europe Online,ccoventondx@chronoengine.com,9,7,2017

In [54]:
novo_df = pd.read_csv(r"Contoso - Cadastro Produtos.csv",sep =";")
#importando o arquivo csv e criando um dataframe 

novo_df = novo_df.set_index("ID Produto")
display(novo_df)
#com a "funÃ§Ã£o set_index()", o indice que seria o numero padrÃ£o das colunas, agora passarÃ¡ a ser por definiÃ§Ã£o da funÃ§Ã£o a coluna "nome da marca"
novo_df.loc[879,"Nome da Marca"]
# a funÃ§Ã£o ".loc()", Ã© utilizada para travar e retornar a informaÃ§Ã£o de uma linha baseada no indice especificado.
#Ã‰ possivel retornar somente o valor de uma coluna, passando o segundo parametro especificando a coluna que quer retornar a informaÃ§Ã£o

,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,Categoria
ID Produto,,,,,
873,Contoso,EconÃ´mico,"10,69","20,96",AcessÃ³rio para Computador
879,Contoso,EconÃ´mico,"6,63",13,AcessÃ³rio para Computador
880,Contoso,EconÃ´mico,"6,63",13,AcessÃ³rio para Computador
881,Contoso,EconÃ´mico,"6,63",13,AcessÃ³rio para Computador
882,Contoso,EconÃ´mico,"6,63",13,AcessÃ³rio para Computador
...,...,...,...,...,...
1602,Southridge Video,Regular,"82,77","179,99",Filme DVD
1606,Southridge Video,Regular,"73,57","159,99",Filme DVD
1607,Southridge Video,Regular,"82,77","179,99",Filme DVD
1611,Southridge Video,Regular,"73,57","159,99",Filme DVD
1612,Southridge Video,Regular,"82,77","179,99",Filme DVD

'Contoso'

In [61]:
#Aqui, estÃ¡ sendo modificado, o valor na coluna "Preco Unitario" utilizando a funÃ§Ã£o ".loc()" e especificando o valor a ser adicionado aquele indice
novo_df.loc[1602, "Preco Unitario"] = 350 
display(novo_df.loc[1602])

Nome da Marca     Southridge Video
Tipo                       Regular
Custo Unitario               82,77
Preco Unitario                 350
Categoria                Filme DVD
Name: 1602, dtype: object