In [3]:
import pandas as pd
#Definindo as variaveis que sÃ£o utilizadas para abrigar os data frame
vendas_df = pd.read_csv("Contoso - Vendas - 2017.csv", sep = ";")
produtos_df = pd.read_csv("Contoso - Cadastro Produtos.csv", sep = ";")
lojas_df = pd.read_csv("Contoso - Lojas.csv", sep = ";", encoding = "ISO-8859-1")
clientes_df = pd.read_csv("Contoso - Clientes.csv", sep= ";", encoding = "ISO-8859-1")

#Seprando colunas especificas de maneira com que, o dataframe irÃ¡ abrigar somente as colunas especificos 
clientes_df = clientes_df[["Ã¿ID Cliente","E-mail"]]
produtos_df = produtos_df[["Nome da Marca","ID Produto"]]
lojas_df = lojas_df[["Ã¿ID Loja", "Nome da Loja"]]

#Renomeando colunas com a funÃ§Ã£o .rename()
clientes_df = clientes_df.rename(columns = {"Ã¿ID Cliente": "ID Cliente"})
lojas_df = lojas_df.rename(columns = {"Ã¿ID Loja": "ID Loja"})

#juntando as colunas separadas com o dataframe, vendas_df, utilizando a funÃ§Ã£o .merge()
vendas_df = vendas_df.merge(produtos_df, on="ID Produto")
vendas_df = vendas_df.merge(lojas_df, on="ID Loja")
vendas_df = vendas_df.merge(clientes_df, on= "ID Cliente")

#Renomando outra coluna dentro do dataframe finalizado.
vendas_df = vendas_df.rename(columns = {"E-mail": "E-mail Clientes"})
display(vendas_df)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,Nome da Loja,E-mail Clientes
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,A. Datum,Loja Contoso Austin,rbrumfieldmy@ameblo.jp
1,880458,23/11/2017,23/11/2017,0,306,235,10,6825,8,0,Litware,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp
2,191019,20/03/2017,21/03/2017,1,172,376,2,6825,9,0,Adventure Works,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp
3,18610,08/01/2017,10/01/2017,2,200,448,2,6825,48,0,Wide World Importers,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp
4,287704,23/04/2017,26/04/2017,3,76,280,1,6825,10,0,Contoso,Loja Contoso Beaumont No.1,rbrumfieldmy@ameblo.jp
...,...,...,...,...,...,...,...,...,...,...,...,...,...
980637,878244,23/11/2017,23/11/2017,0,110,889,4,347,12,1,Contoso,Loja Contoso Orlando,edowner9m@imdb.com
980638,920243,09/12/2017,10/12/2017,1,261,1367,5,38781,13,0,Contoso,Loja Contoso Damascus No.1,ruben31@adventure-works.com
980639,467482,21/06/2017,25/06/2017,4,115,269,1,553,10,0,Contoso,Loja Contoso New York No.1,akuhnertfc@themeforest.net
980640,853643,13/11/2017,20/11/2017,7,115,809,4,38860,6,0,Contoso,Loja Contoso New York No.1,anne5@adventure-works.com
980641,903958,02/12/2017,02/12/2017,0,222,1435,10,815,8,0,The Phone Company,Loja Contoso Roma,ekorneevmm@instagram.com

In [10]:
#filtrando dados do dataframe e fazendo analises e pequenos calculos
vendasLojacontosoaustin = vendas_df[vendas_df["ID Loja"] == 86]
display(vendasLojacontosoaustin)

quantidade_vendida = vendasLojacontosoaustin["Quantidade Vendida"].sum()
quantidade_devolvida = vendasLojacontosoaustin["Quantidade Devolvida"].sum()

print("A porcentagem de devoluÃ§Ã£o Ã© de: {:.2%}".format(quantidade_devolvida / quantidade_vendida))

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,Nome da Loja,E-mail Clientes
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,A. Datum,Loja Contoso Austin,rbrumfieldmy@ameblo.jp
16,372597,21/05/2017,22/05/2017,1,86,981,1,21344,10,0,A. Datum,Loja Contoso Austin,makayla3@adventure-works.com
59,767274,15/10/2017,21/10/2017,6,86,1444,1,4743,10,1,The Phone Company,Loja Contoso Austin,eshanklinko@nih.gov
74,835611,06/11/2017,08/11/2017,2,86,1468,4,24440,6,0,Contoso,Loja Contoso Austin,noah55@adventure-works.com
114,838173,07/11/2017,07/11/2017,0,86,1468,4,16915,6,0,Contoso,Loja Contoso Austin,cpriddyph@sciencedaily.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70652,963945,25/12/2017,25/12/2017,0,86,1025,4,27617,13,0,A. Datum,Loja Contoso Austin,javier10@adventure-works.com
70694,978594,31/12/2017,01/01/2018,1,86,992,4,21952,13,0,A. Datum,Loja Contoso Austin,brianna43@adventure-works.com
70726,928202,12/12/2017,13/12/2017,1,86,273,4,30443,13,0,Contoso,Loja Contoso Austin,mandy24@adventure-works.com
70752,976075,30/12/2017,02/01/2018,3,86,959,4,18347,13,0,A. Datum,Loja Contoso Austin,htithecott9q@over-blog.com
70799,969708,27/12/2017,29/12/2017,2,86,171,4,26852,6,0,Southridge Video,Loja Contoso Austin,claudia17@adventure-works.com

A porcentagem de devoluÃ§Ã£o Ã© de: 1.08%

In [14]:
#Aqui, estamos filtrando o dataframe com duas condiÃ§Ãµes, na primeira, queremos que seja extraido baseado na coluna ID loja == 86 
#e a coluna quantidade devolvida tem que ser igual a 0. o novo dataframe Ã© criado baseado nas condiÃ§Ãµes impostas.
vendasLojacontosoaustin = vendas_df[(vendas_df["ID Loja"] == 86) & (vendas_df["Quantidade Devolvida"] == 0)]
display(vendasLojacontosoaustin)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,Nome da Loja,E-mail Clientes
16,372597,21/05/2017,22/05/2017,1,86,981,1,21344,10,0,A. Datum,Loja Contoso Austin,makayla3@adventure-works.com
74,835611,06/11/2017,08/11/2017,2,86,1468,4,24440,6,0,Contoso,Loja Contoso Austin,noah55@adventure-works.com
114,838173,07/11/2017,07/11/2017,0,86,1468,4,16915,6,0,Contoso,Loja Contoso Austin,cpriddyph@sciencedaily.com
156,97747,10/02/2017,16/02/2017,6,86,1106,2,34115,4,0,Contoso,Loja Contoso Austin,eduardo10@adventure-works.com
188,453352,17/06/2017,18/06/2017,1,86,1106,1,13327,5,0,Contoso,Loja Contoso Austin,arelph94@unesco.org
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70652,963945,25/12/2017,25/12/2017,0,86,1025,4,27617,13,0,A. Datum,Loja Contoso Austin,javier10@adventure-works.com
70694,978594,31/12/2017,01/01/2018,1,86,992,4,21952,13,0,A. Datum,Loja Contoso Austin,brianna43@adventure-works.com
70726,928202,12/12/2017,13/12/2017,1,86,273,4,30443,13,0,Contoso,Loja Contoso Austin,mandy24@adventure-works.com
70752,976075,30/12/2017,02/01/2018,3,86,959,4,18347,13,0,A. Datum,Loja Contoso Austin,htithecott9q@over-blog.com
70799,969708,27/12/2017,29/12/2017,2,86,171,4,26852,6,0,Southridge Video,Loja Contoso Austin,claudia17@adventure-works.com