In [34]:
import pandas as pd
# Configurando o pandas para exibir todos os valores que sejam float com (, . e duas casas decimais)
pd.options.display.float_format = "{:,.2f}".format
#criando o dataframe
receita_final = pd.read_pickle('receita_final.pkl')
display(receita_final)

,Nome completo,Cargo Base,Cargo em Comissão,Remuneração do Mês,Demais Elementos da Remuneração,Remuneração Bruta,Unidade,Jornada,Data
0,ADENIZE CONRADO DOS SANTOS,,ASSESSOR,2546.86,923.46,3470.32,GABINETE DO PREFEITO,40 H,01-2017
1,ADILSON TRAJAI,ASSISTENTE DE GESTAO DE POLITICAS PUBLICAS NIV...,NaN,2707.6,1030.84,3738.44,GABINETE DO PREFEITO,40 H,01-2017
2,ADRIANA CHAHIN CAROPRESO,,ASSISTENTE TECNICO II,3077.73,1036.06,4113.79,SECRETARIA DO GOVERNO MUNICIPAL,40 H,01-2017
3,ALBERTINA FLORENTINO DE SOUZA,AGENTE DE APOIO NIVEL I,ASSISTENTE TECNICO I,2090.47,771.46,2861.93,SECRETARIA DO GOVERNO MUNICIPAL,40 H,01-2017
4,ALEXANDRA ELIAS,,ENCARREGADO DE EQUIPE I,1306.82,899.23,2206.05,SECRETARIA DO GOVERNO MUNICIPAL,40 H,01-2017
...,...,...,...,...,...,...,...,...,...
10131408,RODOLFO MARINHO DA SILVA,,SECRETARIO MUNICIPAL,31649.83,7558.3,39208.13,SECRETARIA MUNICIPAL DE TURISMO,40 H,12-2023
10131409,ROGERIO MARCOS DA SILVA,,ASSESSOR II,3780.37,1476.3,5256.67,ASSESSORIA TECNICA,40 H,12-2023
10131410,THIAGO CROCCO DE CAMARGO,,ASSESSOR IV,7560.75,945,8505.75,GABINETE DO SECRETARIO,40 H,12-2023
10131411,VANESSA SANTOS DA FRANCA,,ASSESSOR III,5670.56,1743.07,7413.63,DIVISAO DE GESTAO DE PESSOAS,40 H,12-2023
10131412,VICTORIA DE PAULA MAGALHAES,,DIRETOR I,7560.75,945,8505.75,DIVISAO DO OBSERVATORIO DO TURISMO,40 H,12-2023

In [48]:
#converter jornada para float e remover a STRING
receita_final['Jornada'] = receita_final['Jornada'].str.extract('(\d+)').astype(float)
#converter remunreação Bruta para float64
receita_final['Remuneração Bruta'] = pd.to_numeric(receita_final['Remuneração Bruta'], errors = 'coerce')
#exibir informações das colunas do dataframe
receita_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10131413 entries, 0 to 10131412
Data columns (total 9 columns):
 #   Column                           Dtype
---  ------                           -----
 0   Nome completo                    object
 1   Cargo Base                       object
 2   Cargo em Comissão                object
 3   Remuneração do Mês               object
 4   Demais Elementos da Remuneração  object
 5   Remuneração Bruta                float64
 6   Unidade                          object
 7   Jornada                          float64
 8   Data                             object
dtypes: float64(2), object(7)
memory usage: 695.7+ MB

In [50]:
#exibir dataframe
display(receita_final)

,Nome completo,Cargo Base,Cargo em Comissão,Remuneração do Mês,Demais Elementos da Remuneração,Remuneração Bruta,Unidade,Jornada,Data
0,ADENIZE CONRADO DOS SANTOS,,ASSESSOR,2546.86,923.46,3470.32,GABINETE DO PREFEITO,40.0,01-2017
1,ADILSON TRAJAI,ASSISTENTE DE GESTAO DE POLITICAS PUBLICAS NIV...,NaN,2707.6,1030.84,3738.44,GABINETE DO PREFEITO,40.0,01-2017
2,ADRIANA CHAHIN CAROPRESO,,ASSISTENTE TECNICO II,3077.73,1036.06,4113.79,SECRETARIA DO GOVERNO MUNICIPAL,40.0,01-2017
3,ALBERTINA FLORENTINO DE SOUZA,AGENTE DE APOIO NIVEL I,ASSISTENTE TECNICO I,2090.47,771.46,2861.93,SECRETARIA DO GOVERNO MUNICIPAL,40.0,01-2017
4,ALEXANDRA ELIAS,,ENCARREGADO DE EQUIPE I,1306.82,899.23,2206.05,SECRETARIA DO GOVERNO MUNICIPAL,40.0,01-2017
...,...,...,...,...,...,...,...,...,...
10131408,RODOLFO MARINHO DA SILVA,,SECRETARIO MUNICIPAL,31649.83,7558.3,39208.13,SECRETARIA MUNICIPAL DE TURISMO,40.0,12-2023
10131409,ROGERIO MARCOS DA SILVA,,ASSESSOR II,3780.37,1476.3,5256.67,ASSESSORIA TECNICA,40.0,12-2023
10131410,THIAGO CROCCO DE CAMARGO,,ASSESSOR IV,7560.75,945,8505.75,GABINETE DO SECRETARIO,40.0,12-2023
10131411,VANESSA SANTOS DA FRANCA,,ASSESSOR III,5670.56,1743.07,7413.63,DIVISAO DE GESTAO DE PESSOAS,40.0,12-2023
10131412,VICTORIA DE PAULA MAGALHAES,,DIRETOR I,7560.75,945,8505.75,DIVISAO DO OBSERVATORIO DO TURISMO,40.0,12-2023

In [56]:
#retornando a media das remunerações brutas e retornando a media das jornadas de trabalaho
media_salarial = receita_final['Remuneração Bruta'].mean()
media_horas = receita_final['Jornada'].mean()
print('a:{:,.2f}, b:{:,.2f}'.format(media_salarial, media_horas))

a:8,919.82, b:34.46

In [78]:
#criando o dataframe a partir dos filtro no dataframe antgio
outliers = receita_final[(receita_final['Remuneração Bruta'] < media_salarial) & (receita_final['Jornada'] > media_horas)].reset_index(drop = True)
balanceamento = receita_final[(receita_final['Remuneração Bruta'] > media_salarial) & (receita_final['Jornada'] < media_horas)].reset_index(drop = True)

In [98]:
#exibindo os outliers entre os anos de 2017 até 2023
display(outliers)
outliers.to_pickle('outliers.pkl')
#exibindo balanceamento entre so anos 2017 até 2023
display(balanceamento)
balanceamento.to_pickle('balanceamento.pkl')

,Nome completo,Cargo Base,Cargo em Comissão,Remuneração do Mês,Demais Elementos da Remuneração,Remuneração Bruta,Unidade,Jornada,Data
0,ADENIZE CONRADO DOS SANTOS,,ASSESSOR,2546.86,923.46,3470.32,GABINETE DO PREFEITO,40.0,01-2017
1,ADILSON TRAJAI,ASSISTENTE DE GESTAO DE POLITICAS PUBLICAS NIV...,NaN,2707.6,1030.84,3738.44,GABINETE DO PREFEITO,40.0,01-2017
2,ADRIANA CHAHIN CAROPRESO,,ASSISTENTE TECNICO II,3077.73,1036.06,4113.79,SECRETARIA DO GOVERNO MUNICIPAL,40.0,01-2017
3,ALBERTINA FLORENTINO DE SOUZA,AGENTE DE APOIO NIVEL I,ASSISTENTE TECNICO I,2090.47,771.46,2861.93,SECRETARIA DO GOVERNO MUNICIPAL,40.0,01-2017
4,ALEXANDRA ELIAS,,ENCARREGADO DE EQUIPE I,1306.82,899.23,2206.05,SECRETARIA DO GOVERNO MUNICIPAL,40.0,01-2017
...,...,...,...,...,...,...,...,...,...
3750513,RENATA LUCENA DE MORAES PACHECO,,ASSESSOR III,5670.56,1050,6720.56,DIVISAO DE FOMENTO AO TURISMO,40.0,12-2023
3750514,ROGERIO MARCOS DA SILVA,,ASSESSOR II,3780.37,1476.3,5256.67,ASSESSORIA TECNICA,40.0,12-2023
3750515,THIAGO CROCCO DE CAMARGO,,ASSESSOR IV,7560.75,945,8505.75,GABINETE DO SECRETARIO,40.0,12-2023
3750516,VANESSA SANTOS DA FRANCA,,ASSESSOR III,5670.56,1743.07,7413.63,DIVISAO DE GESTAO DE PESSOAS,40.0,12-2023
3750517,VICTORIA DE PAULA MAGALHAES,,DIRETOR I,7560.75,945,8505.75,DIVISAO DO OBSERVATORIO DO TURISMO,40.0,12-2023

,Nome completo,Cargo Base,Cargo em Comissão,Remuneração do Mês,Demais Elementos da Remuneração,Remuneração Bruta,Unidade,Jornada,Data
0,BRUNO COVAS LOPES,VICE PREFEITO,NaN,21749.27,,21749.27,GABINETE DO PREFEITO,0.0,01-2017
1,JOAO AGRIPINO DA COSTA DORIA JUNIOR,PREFEITO,NaN,24165.87,,24165.87,GABINETE DO PREFEITO,0.0,01-2017
2,CARLOS FERNANDO DOS SANTOS FERREIRA DIAS,ANALISTA DE SAUDE - MEDICO NIVEL III,NaN,9232.35,1243.96,10476.31,UNIDADE REGIONALIZADA DE SAUDE DO SERVIDOR -SA,20.0,01-2017
3,DENISE LOPES SANTOS,ESPECIALISTA EM SAUDE MEDICO NIVEL III,NaN,8979.8,,8979.80,DIVISÃO DE PERICIA MEDICA,20.0,01-2017
4,DIMAS LADEIA BALIEIRO,ANALISTA DE SAUDE - MEDICO NIVEL III,NaN,9225.29,,9225.29,UNIDADE REGIONALIZADA DE SAUDE DO SERVIDOR - HSPM,20.0,01-2017
...,...,...,...,...,...,...,...,...,...
1264438,ROSANA GIACOMINA MARIA ALFIERI,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL (N...,NaN,18373.25,3032.56,21405.81,SUPERVISAO DE HABITACAO,30.0,12-2023
1264439,CELIA MARIA SILVEIRA,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL (N...,NaN,17823.65,5239.3,23062.95,UNIDADE TECNICA DE DESENVOLVIMENTO E ACOMPANHA...,30.0,12-2023
1264440,EDISON DE ABREU COSTA,ASSISTENTE ADMINISTRATIVO DE GESTAO NIVEL II,NaN,8523.42,2033.27,10556.69,SUPERVISAO DE ADMINISTRACAO E SUPRIMENTOS,30.0,12-2023
1264441,AUDINETE TERESA DO NASCIMENTO,ASSISTENTE ADMINISTRATIVO DE GESTAO NIVEL II,NaN,6853.31,3732.01,10585.32,COORDENADORIA DE PLANEJAMENTO E DESENVOLVIMENT...,30.0,12-2023
1264442,GUMERCINDO CARLOS DE CAMPOS,ASSISTENTE ADMINISTRATIVO DE GESTAO NIVEL II,NaN,5667.73,4592.86,10260.59,UNIDADE DE CADASTRO,30.0,12-2023

In [132]:
#convertendo em datefime
receita_final['Data'] = pd.to_datetime(receita_final['Data'])
#extraindo o ano
receita_final['Ano'] = receita_final['Data'].dt.year
#agrupando e retornando a media
media_remuneracao_ano = receita_final.groupby('Ano')['Remuneração Bruta'].mean().reset_index()
#exibindo
display(media_remuneracao_ano)

    Ano  Remuneração Bruta
0  2017           7,116.58
1  2018           7,819.06
2  2019           8,317.66
3  2020           8,179.54
4  2021           8,179.54
5  2022          10,811.69
6  2023          11,797.38

In [134]:
#exportando o arquivo
media_remuneracao_ano.to_pickle("media_ano_remuneracao.pkl")